.card {
    width: 790px;
    background: linear-gradient(0deg, #8e4ee2, #e5d4f5);
    border-radius: 15px;
}
.titulo-principal {
    text-align: center;
    font-weight: bold;
    color: #4a007d;
    margin-bottom: 10px;
}
.box, .form {
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input, select {
    width: 300px;
    height: 30px;
    border-radius: 6px;
    padding: 0 15px 0 15px;
    text-align: center;
}
.button {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
select.form-control {
    height: 38px;
    line-height: 1.5;
    padding: 6px 12px;
    font-size: 1rem;
}