<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/Layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar Cliente</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet" th:href="@{/style/css/form-cadastro.css}">
</head>

<body>

<nav class="nav nav-pills flex-column flex-sm-row mb-4">
    <a class="flex-sm-fill text-sm-center nav-link" href="/administrativo">
        <i class="fa-solid fa-house fa-lg" style="color: #f56fc8;"></i> Início
    </a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/listarCliente">
        <i class="fa-solid fa-address-book fa-lg" style="color: #1ee6c5;"></i> Listar Cliente
    </a>
</nav>

<div class="container d-flex justify-content-center align-items-center">
    <div class="card borda px-4 py-4 fade-in w-100" style="max-width: 600px;">

        <div class="text-center mb-4">
            <h1 class="titulo-principal">Cadastrar Cliente</h1>
            <p class="lead">Cadastre seus clientes para adicionar contatos </p>
        </div>

        <form action="/salvarCliente" th:object="${cliente}" method="POST">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input required type="text" id="nome" th:field="*{nome}" class="form-control" placeholder="Informe seu nome" />
                <div class="invalid-feedback">Por favor, insira o nome.</div>
            </div>

            <div class="mb-3">
                <label for="cpf" class="form-label">CPF:</label>
                <input required type="text" id="cpf" th:field="*{cpf}" class="form-control" placeholder="Informe seu CPF" maxlength="11" />
                <div class="invalid-feedback">CPF é obrigatório e deve conter 11 dígitos.</div>
            </div>

            <div class="mb-3">
                <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
                <input required type="date" id="dataNascimento" th:field="*{dataNascimento}" class="form-control" />
                <div class="invalid-feedback">Informe a data de nascimento.</div>
            </div>

            <div class="mb-4">
                <label for="endereco" class="form-label">Endereço:</label>
                <input required type="text" id="endereco" th:field="*{endereco}" class="form-control" placeholder="Informe seu endereço" />
                <div class="invalid-feedback">Endereço é obrigatório.</div>
            </div>

            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{usuarioId}"/>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success confirm-button px-4">
                    <i class="fa-solid fa-floppy-disk"></i> Salvar
                </button>
            </div>
        </form>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>