<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/Layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap_4.1_css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/form-cadastro.css">


    <title>Cadastrar Contato</title>
</head>

<body>
    <div class="container mt-5 mb-5 d-flex justify-content-center">
        <div class="card px-1 py-4">
            <div class="container">
                <h1 class="titulo-principal">Cadastrar Contatos</h1>
                <p class="lead">Preencha todos os campos para salvar dados do contato</p>
            </div>

            <form>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputTipo">Selecione: Telefone ou Email?</label>
                        <select class="form-control" th:field="*{inputTipo}"  id="inputTipo">
                            <option>Telefone</option>
                            <option>Email</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputValor">Insira seu contato:</label>
                        <input type="text" th:field="*{inputValor}" class="form-control" id="inputValor" placeholder="Informe Email ou Telefone"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputObservacao">Observação:</label>
                    <input type="text" th:field="*{inputObservacao}" class="form-control" id="inputObservacao" placeholder="Deixe alguma observação (Opcional)"/>
                </div>

                <input type="hidden" th:field="*{id}"/>

                <div class="container d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <a class="btn btn-danger" href="/administrativo">Voltar</a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>